h2 {
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 10px;
  letter-spacing: 1px;
}
h2::after {
  content: '';
  display: block;
  width: 30px;
  margin: 2px auto;
  background: var(--main);
  height: 2.5px;
  border-radius: 3px;
}
#credits {
  width: 95%;
  max-width: 500px;
  margin: 20px auto;
}
#credits ul {
  list-style: none;
  color: #222;
}
#credits li i {
  padding: 8px;
  color: #EF709D;
}
#credits a {
  color: #222;
}
