h2 {
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 8px;
}
#credits {
  width: 95%;
  max-width: 500px;
  margin: 20px auto;
}
#credits ul {
  list-style: none;
  color: #222;
}
#credits li i {
  padding: 8px;
  color: #EF709D;
}
#credits a {
  color: #222;
}
