@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:700|Noto+Sans+JP:300,700|Roboto:100,400,700,900&display=swap&subset=japanese');
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
  color: white;
  max-width: 500px;
  margin: auto;
}

#logo {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 12px;
}

#logo img {
  width: 110px;
}

#header {
  margin-top: 50px;
  margin-bottom: 60px;
  padding-left: 10px;
  font-size: 3.5rem;
  font-family: 'Noto Serif JP';
  letter-spacing: 2px;
}

#header div {
  position: relative;
  width: 300px;
  margin: auto;
}

#header div:before {
  content: attr(data-text);
  position: absolute;
  left: -1px;
  text-shadow: 1px 0 blue;
  top: 0;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
#header div:after {
  content: attr(data-text);
  position: absolute;
  left: 1px;
  text-shadow: -1px 0 red;
  top: 0;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}


h2 {
  text-align: center;
  font-size: 1.4rem;
  margin: 10px;
  line-height: 1;
  /* font-weight: 500; */
  letter-spacing: 2px;
  color: #ffffff99;
}

#total {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}
#total .odometer {
  margin-top: -20px;
}


#ranking .buttons {
  display: flex;
  justify-content: center;
}
#ranking .buttons div{
  margin: 0 12px;
  border-radius: 7px;
  position: relative;
  width: 85px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
}
#ranking .buttons div:first-child {
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}
#ranking .buttons div:nth-child(2) {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(252,150,120,1) 0%, rgba(247,108,127,1) 100.4% );
}
#ranking div a {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#readme {
  margin: 50px;
}
#readme p {
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 300;
}



#update, #todo , #credits {
  margin: 50px;
  font-size: 1.2rem;
  line-height: 2;
  /* font-weight: 300; */
}

#update table tr {
  border-bottom: 0.5px #aaa solid;
}

#update table th {
  width: 20%;
  /* font-weight: 100; */
}

#update table td {
  width: 80%;
  padding: 0 10px;
}


#credits li a {
  text-decoration: none;
  color: skyblue;
}


#footer {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0;
  font-weight: 100;
}

@keyframes noise-anim {
  0% {
    clip: rect(39px, 9999px, 10px, 0);
  }
  5% {
    clip: rect(1px, 9999px, 86px, 0);
  }
  10% {
    clip: rect(24px, 9999px, 64px, 0);
  }
  15% {
    clip: rect(100px, 9999px, 68px, 0);
  }
  20% {
    clip: rect(16px, 9999px, 45px, 0);
  }
  25% {
    clip: rect(19px, 9999px, 58px, 0);
  }
  30% {
    clip: rect(89px, 9999px, 71px, 0);
  }
  35% {
    clip: rect(78px, 9999px, 84px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 95px, 0);
  }
  45% {
    clip: rect(20px, 9999px, 10px, 0);
  }
  50% {
    clip: rect(72px, 9999px, 35px, 0);
  }
  55% {
    clip: rect(71px, 9999px, 93px, 0);
  }
  60% {
    clip: rect(80px, 9999px, 24px, 0);
  }
  65% {
    clip: rect(49px, 9999px, 53px, 0);
  }
  70% {
    clip: rect(15px, 9999px, 84px, 0);
  }
  75% {
    clip: rect(34px, 9999px, 80px, 0);
  }
  80% {
    clip: rect(64px, 9999px, 44px, 0);
  }
  85% {
    clip: rect(95px, 9999px, 30px, 0);
  }
  90% {
    clip: rect(11px, 9999px, 6px, 0);
  }
  95% {
    clip: rect(35px, 9999px, 57px, 0);
  }
  100% {
    clip: rect(74px, 9999px, 5px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(76px, 9999px, 35px, 0);
  }
  5% {
    clip: rect(55px, 9999px, 83px, 0);
  }
  10% {
    clip: rect(74px, 9999px, 41px, 0);
  }
  15% {
    clip: rect(86px, 9999px, 54px, 0);
  }
  20% {
    clip: rect(5px, 9999px, 8px, 0);
  }
  25% {
    clip: rect(18px, 9999px, 84px, 0);
  }
  30% {
    clip: rect(86px, 9999px, 16px, 0);
  }
  35% {
    clip: rect(95px, 9999px, 5px, 0);
  }
  40% {
    clip: rect(30px, 9999px, 5px, 0);
  }
  45% {
    clip: rect(27px, 9999px, 31px, 0);
  }
  50% {
    clip: rect(45px, 9999px, 82px, 0);
  }
  55% {
    clip: rect(16px, 9999px, 99px, 0);
  }
  60% {
    clip: rect(43px, 9999px, 36px, 0);
  }
  65% {
    clip: rect(20px, 9999px, 60px, 0);
  }
  70% {
    clip: rect(72px, 9999px, 43px, 0);
  }
  75% {
    clip: rect(91px, 9999px, 78px, 0);
  }
  80% {
    clip: rect(74px, 9999px, 46px, 0);
  }
  85% {
    clip: rect(64px, 9999px, 87px, 0);
  }
  90% {
    clip: rect(96px, 9999px, 13px, 0);
  }
  95% {
    clip: rect(31px, 9999px, 55px, 0);
  }
  100% {
    clip: rect(56px, 9999px, 70px, 0);
  }
}
