@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:900&display=swap&subset=japanese');
#hero {
  position: relative;
  height: 800px;
}
#hero img {
  position: absolute;
  width: 100%;
  filter: brightness(110%);
  z-index: -1;
}
#hero .caption {
  width: 85%;
  margin: auto;
  padding-top: 35px;
  border-left: solid 10px white;
}
#hero .caption span {
  margin-left: 10px;
  display: inline-block;
  font-size: 4rem;
  color: white;
  font-family: "Noto Serif JP";
  font-weight: bold;
  line-height: 1.1;
  position: relative;
  margin-top: 5px;
  overflow: hidden;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#hero .caption span i {
  display: inline-block;
  position: absolute;
  width: 120%;
  height: 100%;
  /* opacity: .4; */
  background: white;
  top: 0;
  left: 0;
  /* right: 0; */
  transition: all .7s cubic-bezier(0.55, 0.05, 0.22, 0.99);
}
#hero.active .caption span i {
  left: 100%;
}
#hero form {
  margin: 170px auto 20px;
  width: 70%;
  max-width: 500px;
  background: #fffe;
  padding:  12px;
  font-size: 1.6rem;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
#hero form input {
  outline: none;
  color: #444;
}
#hero form i {
  position: absolute;
  right: 20px;
  top: 11px;
  color: #888;
  font-size: 2rem;
}
