#header {
  width: 100%;
  background-color: white;
  max-width: 800px;
}
#header h1 {
  text-align: center;
  font-weight: 100;
  padding-top: 25px;
  font-size: 3rem;
}
#header h1 + p {
  text-align: center;
  font-weight: 100;
  font-size: 1.3rem;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

#caption h2 {
  margin: 20px;
  /* padding-left: 30px; */
  /* position: relative; */
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.5;
  color: #222;
  letter-spacing: 1px;
  text-align: center;
}

/* セレクト */
#style-buttons {
  /* display: none; */
}
#style-buttons .row {
  margin: 3px 10px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 6px 15px 6px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#style-buttons #fr .column {
  display: flex;
  flex-direction: column;
  width: 20%;
}
#style-buttons span {
  display: inline-block;
  width: 35%;
}
#style-buttons a {
  background-color: #fefefe44;
  border-radius: 5px;
  padding: 8px 0;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: white;
}
#style-buttons a:hover {
  background-color: transparent;
  border: 1px #eee solid;
}
#style-buttons #fr a {
  margin: 3px 0;
  width: 100%;
}
#style-buttons .row:not(:first-child) a {
  width: 20%;
}
#style-buttons #fr {
  background-color: var(--c-fr);
}
#style-buttons #ba {
  background-color: var(--c-ba);
}
#style-buttons #br {
  background-color: var(--c-br);
}
#style-buttons #fly {
  background-color: var(--c-fly);
}
#style-buttons #im {
  background-color: var(--c-im);
}


/* カテゴリ選ぶタブみたいなやつ */
#tab {
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
}
#tab div {
  padding: 3px 10px;
  display: inline-block;
  width: 23%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  border: 1px #ddd solid;
  border-radius: 6px;
}
#tab div.selected.men, #tab div.men:hover {
  border: none;
  background-color: var(--c-men);
}
#tab div.selected.women, #tab div.women:hover {
  border: none;
  background-color: var(--c-women);
}
#tab div.selected > a, #tab div:hover > a {
  color: white;
  text-shadow: 1px 1.3px 0 #6666;
}
#tab div a {
  text-decoration: none;
  font-size: 1.35rem;
  display: inline-block;
  line-height: 1.3;
  width: 100%;
  height: 100%;
  color: #aaa;
}


/* フィルターボタン */
#filter {
  margin: 20px 10px;
  border: .8px #ddd solid;
  position: relative;
  padding: 10px 8px;
}
#filter p {
  position: absolute;
  font-weight: 100;
  font-size: 1.2rem;
  top: -8px;
  left: 20px;
  width: 40px;
  text-align: center;
  background-color: white;
  color: #555;
}
#filter div {
  background-color: rgb(62, 76, 92);
  width: 30%;
  padding: 6px;
  border-radius: 4px;
  text-align: center;

}
#filter div a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;

}

table {
  width: 100%;
  border-collapse: collapse;
  max-width: 800px
}
table * {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
table tr {
  height: 50px;
  border-bottom: 0.7px #ddd solid;
}
table tr td:nth-child(1) span {
  color: white;
  border-radius: 0 5px 5px 0;
  display: inline-block;
  line-height: 25px;
  width: 50px;
  text-align: center;
  font-weight: bold;
}
table.men tr td:nth-child(1) span {
  background-color: var(--c-men);
}
table.women tr td:nth-child(1) span {
  background-color: var(--c-women);
}
table tr td:nth-child(2) {
  width: 27%;
  line-height: 1;
  letter-spacing: 1px;
  padding: 0px 4px;
}
table tr td:nth-child(3) {
  width: 75px;
  font-weight: 550;
}
table tr td:nth-child(4) span {
  font-size: 1.2rem;
  border-radius: 5px;
  display: inline-block;
  width: 45px;
  height: 22px;
  color: white;
  text-align: center;
  line-height: 22px;
}
table.women tr td:nth-child(4) span {
  background-color: #EE90C5;
}
table.men tr td:nth-child(4) span {
  background-color: #5FC5EA;
}
table tr td:nth-child(5) {
  font-size: 1.2rem;
  color: #aaa;
}
table.men tr:nth-child(2n) {
  background-color: #fafafd;
}
table.women tr:nth-child(2n) {
  background-color: #fdfafa;
}

#pagination {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 800px;
}
#pagination a {
  display: block;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 5px 15px;
  margin: 0px 25px;
}
#pagination a.hidden {
  visibility: hidden;
}
.men + #pagination a {
  background-color: var(--c-men)
}
.women + #pagination a {
  background-color: var(--c-women)
}
