@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700|Roboto:300,400,700&display=swap&subset=japanese');
:root {
  --men: #4fc0e8;
  --women: #ed85c0;
  --main: #0496FF;
  --feeble: #D1EBFF;
  --fr: #03A9F4;
  --ba: #20bf6b;
  --br: #3867d6;
  --fly: #fa8231;
  --im: #8b54d0;
}
/* https://coolors.co/39a9dd-33bf74-c9613e-f9904a-8c5ac9 */
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  position: relative;
  overflow-x: hidden;
}

#header-wrapper {
  border-bottom: solid .5px #eee;
  width: 100%;
}
header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}

header #burger {
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 14px;
  margin: 8px 0;
}
header #burger span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
  border-radius: 4px;
}
header #burger span:nth-of-type(1) {
  top: 0;
}
header #burger span:nth-of-type(2) {
  top: 6px;
}
header #burger span:nth-of-type(3) {
  bottom: 0;
}

header #burger.active span:nth-of-type(1) {
  transform: translateY(6px) rotate(-315deg);
}
header #burger.active span:nth-of-type(2) {
  opacity: 0;
}
header #burger.active span:nth-of-type(3) {
  transform: translateY(-6px) rotate(315deg);
}

header a img {
  height: 30px;
}
header .placeholder {
  width: 22px;
}

#menu {
  height: 0px;
  opacity: 0;
  transition: all .4s;
  box-shadow: 0px 12px 12px -12px rgba(0,0,0,0.2);
  border-bottom: solid 0.5px #eee;
}
#menu.active {
  height: 150px;
  opacity: 1;
}
#menu #search {
  width: 100%;
  padding: 10px
}
#menu form {
  width: 55%;
  max-width: 400px;
  margin: auto;
  border-radius: 5px;
  background: #F1F3F5;
  position: relative;
  display: flex;
}
#menu form input:nth-child(1) {
  display: block;
  outline: none;
  margin-left: -8%;
  line-height: 2;
  font-size: 1.6rem;
  transform: scale(0.7);
  letter-spacing: 1px;
  width: 85%;
  font-weight: bold;
}
#menu form input:nth-child(2) {
  outline: none;
  cursor: pointer;
  display: block;
  width: 15%;
}
#menu form i {
  position: absolute;
  top: calc(50% - 8px);
  right: 10px;
  font-size: 16px;
  color: #aaa;
}


footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
  background: #eee;
}
footer p {
  text-align: right;
  padding: 0 30px;
  font-size: 2rem;
  width: 100%;
  border-bottom: 2px solid #222;
}
footer p span {
  font-weight: bold;
}
footer img {
  height: 35px;
  position: absolute;
  background: #eee;
  padding: 0 10px;
  top: 42px;
  left: 10%;
}
footer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  max-width: 1000px;
  margin: auto;
}


.modal {
  position: fixed;
  top: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 800px;
  visibility: hidden;
  transition: all .5s;
  background: white;
  padding: 10px;
  border-radius: 15px;
  z-index: 3;
  opacity: 0;
}
.modal.active {
  visibility: visible;
  opacity: 1;
  top: 100px;
}
.modal .close {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--main);
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  line-height: 2;
  cursor: pointer;
}
.modal .window {
  height: 92%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 4px;
}
.modal .window::-webkit-scrollbar {
    display:none;
}

@media screen and (min-width:800px) {
  #ranking {
    /* margin-top: 2000px;
    transform: scale(1.2); */
  }
}

/* ここまで共通 */

#overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.16);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all .5s 0s;
}
#overlay.active {
  visibility: visible;
  opacity: 1;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 10px;
}
#setting {
  padding: 0 15px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 32px;
  max-width: 400px;
  margin: auto;
}

#setting .selectStyle {
  color: var(--main);
  cursor: pointer;
  border: solid 1px var(--main);
  transition: all .4s;
}
#setting .selectStyle:hover {
  background: var(--main);
  color: white;
}
#setting .selectStyle i {
  padding-right: 5px;
}
#setting .row {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
#setting .button {
  width: 32%;
  position: relative;
  color: #333;
}
#setting .button + .button {
  border-left: solid .8px #ddd;
}
#setting .button > p {
  background: white;
  overflow: hidden;
  cursor: pointer;
}
#setting .button i {
  position: absolute;
  top: 12px;
  left: 14px;
  color: #777;
  padding-right: 4px;
  transition: transform .2s, top .2s .2s;
}
#setting .button.active i {
  top: 14px;
  transform: rotate(90deg);
}
#setting .button p:hover {
  background: #eee;
}
#setting .button .items {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  background: white;
  cursor: pointer;
  transition: opacity .5s;
  border-top: solid .5px #ddd;
}
#setting .button.active .items {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
#setting .button.active{
  background: #fafafa;
  z-index: 2;
}

#setting .gradeFilter {
  margin-top: 8px;
  /* border-top: solid .8px #ddd;
  border-bottom: solid .8px #ddd; */
  font-size: 1.4rem;
  line-height: 32px;
}
#setting .gradeFilter input[type=checkbox] {
  display: none;
}
#setting .gradeFilter > label {
  position: relative;
}
#setting .gradeFilter .toggle {
  width: 100%;
  height: 100%;
  background: #eee;
}
#setting .gradeFilter .toggle::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 20px;
  border-radius: 40px;
  border: solid 1.5px #aaa;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 20px;
}
#setting .gradeFilter .toggle::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 20px;
}
#filter:checked ~ label p::after {
  left: 40px;
}
#setting .grades {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all .4s;
}
#filter:checked ~ .grades {
  visibility: visible;
  height: auto;
  opacity: 1;
}
#setting .school {
  display: flex;
  border-top: solid .6px #dfdfdf;
}
#setting .school:last-child {
  border-bottom: solid .6px #dfdfdf;
}
#setting .school p {
  width: 20%;
  background: #444;
  color: white;
  font-weight: bold;
}
#setting .school .nums {
  width: 80%;
}
#setting .nums label {
  display: inline-block;
  width: 30%;
  margin: 2px;
}
#setting .nums span {
  display: inline-block;
  width: 90%;
  border-radius: 8px;
  letter-spacing: 2px;
  transition: all .2s;
  cursor: pointer;
}
#setting .nums input:checked + span {
  background: var(--main);
  color: white;
  font-weight: bold;
}



#selectEvents .events {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#selectEvents .events > p {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: #222;
  padding: 10px;
}
#selectEvents .events .card {
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  background: var(--fr);
  height: 50px;
  width: 32%;
  border-radius: 4px;
  position: relative;
  margin: 2px;
  cursor: pointer;
  padding: 0 3px;
}
#selectEvents .events .card.fr {
  background: var(--fr);
}
#selectEvents .events .card.ba {
  background: var(--ba);
}
#selectEvents .events .card.br {
  background: var(--br);
}
#selectEvents .events .card.fly {
  background: var(--fly);
}
#selectEvents .events .card.im {
  background: var(--im);
}
#selectEvents .events .card img {
  display: block;
  width: 40px;
  margin-top: 4px;
}
#selectEvents .events .card div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 45px;
  margin: auto;
  height: 37px;
}
#selectEvents .events .card p {
  color: white;
  /* font-weight: lighter; */
}
#selectEvents .events .card p:last-child {
  font-size: 1.8rem;
  line-height: 1;
}
#selectEvents .events .card p:last-child::after {
  content: 'm';
  font-size: 1.3rem;
}


#ranking {
  width: 100%;
  padding: 8px 15px;
  margin: 10px 0;
  background: #f3f7fa;
  --link: #3E92CC;
  --sex: var(--men);
}

table {
  font-size: 1.3rem;
  border-collapse: separate;
  border-spacing: 0 4px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
}
tr {
  background: white;
  line-height: 36px;
  overflow: hidden;
}
tr.new::after {
  content: 'NEW';
  font-size: 0.6rem;
  line-height: 1.6;
  padding: 0 3px;
  border-radius: 2px;
  letter-spacing: 1px;
  background: #FF3C38dd;
  color: white;
  position: absolute;
  left: -8px;
  margin-top: 6px;
}
table i {
  font-size: 1rem;
  padding-left: 5px;
  color: var(--sex);
}
td:nth-child(1) {
  width: 18%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  overflow: hidden;
}
td:nth-child(1) span {
  width: 100%;
  display: inline-block;
  background: var(--sex);
  line-height: 1.4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  color: white;
  width: 70%;
  font-size: 1.2rem;
  font-weight: bold;
}
td:nth-child(2) {
  width: 28%;
}
td:nth-child(2) a {
  text-decoration: none;
  color: var(--sex);
  font-weight: bold;
}
td:nth-child(3) {
  width: 20%;
  font-weight: bold;
  color: #444;
}
td:nth-child(4) {
  width: 15%;
}
td:nth-child(4) span {
  border-radius: 5px;
  display: inline-block;
  width: 45px;
  text-align: center;
  line-height: 16px;
  border: solid .6px var(--sex);
  color: var(--sex);
  font-size: 1rem;
  letter-spacing: 1px;
}
td:nth-child(5) {
  width: 25%;
  color: #aaa;
  font-size: 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

tr.top10 {
  line-height: 50px;
}
tr.top10 td:nth-child(1) {
  border-left: solid 3px var(--sex);
}
tr.top10 td:nth-child(1) span {
  color: #eff2f5;
  background: none;
  font-size: 4rem;
  line-height: 1;
  position: absolute;
  bottom: -7px;
  left: 3px;
  display: block;
  letter-spacing: -4px;
}
tr.top10 i {
  padding-left: 3px;
}
tr.top10 td:nth-child(2) a {
  font-size: 1.5rem;
  /* font-weight: normal; */
}
tr.top10 td:nth-child(3) {
  font-size: 1.5rem;
}
/* tr.top10 td:nth-child(2)::after {
  content: '';
  width: 5%;
  height: 50px;
  background: linear-gradient(90deg, blue, transparent);
  position: absolute;
  left: 0;
  z-index: 1;
  opacity: .2;
  transform: skewX(-8deg);
} */

.testa {
  background: blue;
  height: 40px;
  margin: 50px 10px;
}
