@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Roboto:400,700&display=swap&subset=japanese');
:root {
  --men: #4fc0e8;
  --women: #ed85c0;
  --main: #0496FF;
  --feeble: #D1EBFF;
  --fr: #03A9F4;
  --ba: #20bf6b;
  --br: #3867d6;
  --fly: #fa8231;
  --im: #8b54d0;
  --grade: #1E88E5;
  --team: #FFB300;
  --bg: #f3f7fa;
  --shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
/* https://coolors.co/39a9dd-33bf74-c9613e-f9904a-8c5ac9 */
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  position: relative;
  overflow-x: hidden;
}

#header-wrapper {
  border-bottom: solid .5px #eee;
  width: 100%;
}
header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}

header #burger {
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 14px;
  margin: 8px 0;
}
header #burger span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
  border-radius: 4px;
}
header #burger span:nth-of-type(1) {
  top: 0;
}
header #burger span:nth-of-type(2) {
  top: 6px;
}
header #burger span:nth-of-type(3) {
  bottom: 0;
}

header #burger.active span:nth-of-type(1) {
  transform: translateY(6px) rotate(-315deg);
}
header #burger.active span:nth-of-type(2) {
  opacity: 0;
}
header #burger.active span:nth-of-type(3) {
  transform: translateY(-6px) rotate(315deg);
}

header a img {
  height: 30px;
}
header .placeholder {
  width: 22px;
}

#menu {
  height: 0px;
  opacity: 0;
  transition: all .4s;
  box-shadow: 0px 12px 12px -12px rgba(0,0,0,0.2);
  border-bottom: solid 0.5px #eee;
}
#menu.active {
  height: 150px;
  opacity: 1;
}
#menu #search {
  width: 100%;
  padding: 10px
}
#menu form {
  width: 55%;
  max-width: 400px;
  margin: auto;
  border-radius: 5px;
  background: #F1F3F5;
  position: relative;
  display: flex;
}
#menu form input:nth-child(1) {
  display: block;
  outline: none;
  margin-left: -8%;
  line-height: 2;
  font-size: 1.6rem;
  transform: scale(0.7);
  letter-spacing: 1px;
  width: 85%;
  font-weight: bold;
}
#menu form input:nth-child(2) {
  outline: none;
  cursor: pointer;
  display: block;
  width: 15%;
}
#menu form i {
  position: absolute;
  top: calc(50% - 8px);
  right: 10px;
  font-size: 16px;
  color: #aaa;
}


footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
  background: #eee;
}
footer p {
  text-align: right;
  padding: 0 30px;
  font-size: 2rem;
  width: 100%;
  border-bottom: 2px solid #222;
}
footer p span {
  font-weight: bold;
}
footer img {
  height: 35px;
  position: absolute;
  background: #eee;
  padding: 0 10px;
  top: 42px;
  left: 10%;
}
footer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  max-width: 1000px;
  margin: auto;
  background: var(--bg);
}

/* ここまで共通 */

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

#header {
  background-image: radial-gradient( circle 997px at 5.8% 11.8%,  rgba(0,201,235,1) 0%, rgba(145,0,228,1) 90% );
  height: 170px;
  font-size: 1.6rem;
}
#header p {
  color: white;
  text-align: center;
  padding: 20px;
  letter-spacing: 1px;
}
#header form {
  margin: auto;
  width: 70%;
  position: relative;
}

#header input[type='text'] {
  padding: 10px;
  width: 80%;
  height: 100%;
}
#header input[type="checkbox"]{
  display: none;
}
#header label {
  display: block;
  position: absolute;
  right: 18px;
  top: calc(50% - 9.5px);
  font-size: 1.2rem;
  color: #8C2F39;
  font-weight: bold;
  letter-spacing: 1px;
}
input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #B23A48;
  position: absolute;
  right: 60px;
  top: 2px;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 8px;
  top: -1px;
  right: 65px;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}
#header input:focus{
  outline: none;
}

#header > div {
  display: flex;
  justify-content: center;
}
#header div div {
  background-color: #ffffff30;
  line-height: 2.5;
  width: 30%;
  text-align: center;
  font-size: 1.4rem;
  color: #ffffff;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  cursor: pointer;
}


#results {
  margin: 15px;
}

#results .card {
  margin-bottom: 8px;
  padding: 5px 8px;
  display: flex;
}
#results .card.men {
  border-left: solid 7px var(--men);
}
#results .card.women {
  border-left: solid 7px var(--women);
}
#results .card img {
  width: 40px;
  height: 40px;
}

#results .card a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  /* width: 120px; */
  white-space: nowrap;
  padding: 0 10px;
  line-height: 40px;
  letter-spacing: 1px;
}

#results .card div {
  padding: 4px;
}
#results .card div span {
  display: inline-block;
  font-size: 1.1rem;
  background-color: var(--team);
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  line-height: 15px;
  margin: 1px;
  cursor: pointer;
}
#results .card div span:first-child {
  background-color: var(--grade);
  cursor: auto;
}

#sorry {
  margin: 20px 40px;
}
#sorry p {
  font-size: 1.6rem;
  text-align: center;
  color: #888;
  letter-spacing: 2px;
}
#sorry img {
  width: 80%;
  max-width: 300px;
  display: block;
  margin: 40px auto;
}
