.card {
  background-color: white;
  border-radius: 2px;
  box-shadow: var(--shadow);
}
main {
  background: var(--bg);
}

.skeleton {
  line-height: 40px;
  width: 100%;
  text-align: center;
}
.skeleton i {
  font-size: 1.8rem;
}

#header {
  background-image: var(--gradient-r);
  height: 160px;
  margin-bottom: 10px;
}
#header p {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 16px;
  padding-bottom: 10px;
  letter-spacing: 1px;
}
#header form {
  margin: auto;
  width: 80%;
  max-width: 400px;
  position: relative;
}
#header form i {
  position: absolute;
  font-size: 2rem;
  top: 9px;
  right: 16px;
  color: #888;
}
#header input {
  font-size: 1.6rem;
  line-height: 1;
  padding: 10px;
  color: #333;
}
#header input:focus{
  outline: none;
}
#header div {
  margin: 10px auto 10px;
  width: 200px;
  line-height: 2.5;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  background: #fff3;
  color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  cursor: pointer;
}
#header div:hover {
  background: #fff6;
}

#teams {
  padding: 0 10px;
  margin: auto;
  max-width: 520px;
  --sex: var(--team);
}
#teams .card {
  display: block;
  margin-bottom: 8px;
  font-size: 1.7rem;
  font-weight: bold;
  border-left: solid 5px var(--sex);
  padding: 6px 10px;
  text-decoration: none;
  color: black;
}
#teams .card i {
  font-size: 1.2rem;
  padding-left: 5px;
  vertical-align: text-top;
  padding-top: 3.8px;
  color: var(--sex);
}


#swimmers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#swimmers .column {
  width: 100%;
  max-width: 500px;
  margin: 0 10px;
}
#swimmers .card {
  margin-bottom: 8px;
  padding: 3px 0;
  display: flex;
  border-left: solid 6px var(--sex);
}
.men {--sex:var(--men);}
.women {--sex:var(--women);}
.head {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  background: var(--sex);
  margin: 8px 0;
  border-radius: 2px;
  line-height: 2;
}
.head i {
  padding: 0 8px;
}
#swimmers .card i.user {
  font-size: 30px;
  line-height: 40px;
  padding-left: 7px;
}
#swimmers .card i {
  color: var(--sex);
}
#swimmers .card > a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  white-space: nowrap;
  padding: 0 8px;
  line-height: 40px;
  letter-spacing: 1px;
  font-weight: bold;
}
#swimmers .card a i {
  font-size: 1.2rem;
  padding-left: 3px;
  vertical-align: text-top;
  padding-top: 3.8px;
}
#swimmers .card div {
  padding: 5px;
}
#swimmers .card div * {
  text-decoration: none;
  font-size: 1.1rem;
  background-color: var(--team);
  color: white;
  padding: 2px 10px;
  line-height: 1;
  display: inline-block;
  border-radius: 5px;
  margin: 1.6px;
  cursor: pointer;
}
#swimmers .card div span:first-child {
  background-color: var(--grade);
  cursor: auto;
}

#advanced {
  padding: 20px 10px;
  max-width: 500px;
  margin: auto;
}
#advanced h2 {
  font-size: 1.7rem;
  line-height: 2;
}
#advanced p {
  font-size: 1.3rem;
}
#advanced .btn {
  background: var(--main);
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  width: 160px;
  letter-spacing: 1px;
  margin: 16px auto;
  line-height: 2;
  border-radius: 2px;
  display: block;
  text-decoration: none;
}
