<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Swimmers' Zero</title>
  <meta name="description" content="ここにサイト説明を入れます">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="static/ranking.css">
  <link rel="stylesheet" href="static/odometer-theme-default.css">
  <link rel="icon" href="static/favicon.ico">
</head>

<body>
  <header>
    <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
        まだ作ってないw
        <ul id="nav">
          <li><a href="">Develop</a></li>
          <li><a href="">Search</a></li>
          <li><a href="">Ranking</a></li>
        </ul>
      </div>
    </div>
    <a href="/"><img src="static/logo.png" alt="Swimmers' Zero" id="logo"></a>
  </header>

  <main>
    <div id="data-config">

      <div id="events">
        <div class="dropdown">
          <button class="dropbtn">Fr</button>
          <div class="dropdown-content">
            <a href="ranking?">25m</a>
            <a href="#">50m</a>
            <a href="#">100m</a>
            <a href="#">200m</a>
            <a href="#">400m</a>
            <a href="#">800m</a>
            <a href="#">1500m</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Ba</button>
          <div class="dropdown-content">
            <a href="#">25m</a>
            <a href="#">50m</a>
            <a href="#">100m</a>
            <a href="#">200m</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Br</button>
          <div class="dropdown-content">
            <a href="#">25m</a>
            <a href="#">50m</a>
            <a href="#">100m</a>
            <a href="#">200m</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Fly</button>
          <div class="dropdown-content">
            <a href="#">25m</a>
            <a href="#">50m</a>
            <a href="#">100m</a>
            <a href="#">200m</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">IM</button>
          <div class="dropdown-content">
            <a href="#">100m</a>
            <a href="#">200m</a>
            <a href="#">400m</a>
          </div>
        </div>
      </div>

    </div>

    <table>
      <tr>
        <th>順位</th>
        <th>氏名</th>
        <th>所属</th>
        <th>学年</th>
        <th>タイム</th>
      </tr>
      {% for r in records %}
      <tr>
        <td>1</td>
        <td>{{r.name}}</td>
        <td>{{r.team}}</td>
        <td><span>{{r.grade}}</span></td>
        <td>{{r.time}}</td>
      </tr>
      {% endfor %}
    </table>

  </main>
  <footer>
    <p>CREATED BY REO KANZAKI</p>
  </footer>

</body>

</html>
