<!DOCTYPE html>
<html>
<head>
  {% include "partial/head.html" %}
  <title>使用素材一覧 | スイマーズ ゼロ</title>
  <link rel="stylesheet" href="static/css/credits.css">
</head>
<body>
  {% include "partial/header.html" %}
  <main>

    <div id="credits">
      <h2>使用素材一覧</h2>
      <ul>
        <li><i class="fas fa-heart"></i>“<a href="https://thenounproject.com/787kmj787/uploads/?i=1493460">freestyle</a>” icon by ummmpa from <a href="http://thenounproject.com/">the Noun Project</a>.</li>
        <li><i class="fas fa-heart"></i>“<a href="https://thenounproject.com/search/?q=backstroke&i=1493461">backstroke</a>” icon by ummmpa from <a href="http://thenounproject.com/">the Noun Project</a>.</li>
        <li><i class="fas fa-heart"></i>“<a href="https://thenounproject.com/787kmj787/uploads/?i=1493463">breaststroke</a>” icon by ummmpa from <a href="http://thenounproject.com/">the Noun Project</a>.</li>
        <li><i class="fas fa-heart"></i>“<a href="https://thenounproject.com/787kmj787/uploads/?i=1493462">Butterfly</a>” icon by ummmpa from <a href="http://thenounproject.com/">the Noun Project</a>.</li>
        <li><i class="fas fa-heart"></i>“<a href="https://thenounproject.com/term/circles/2957877/">circles</a>” icon by Andrejs Kirma from <a href="http://thenounproject.com/">the Noun Project</a>.</li>
        <li><i class="fas fa-heart"></i>Photo by Serena Repice Lentini on Unsplash</li>
        <li><i class="fas fa-heart"></i>Photo by NASA on Unsplash</li>
      </ul>
    </div>

  </main>

  {% include "partial/footer.html" %}

</body>

</html>
