<!DOCTYPE html>
<html lang="ja">

<head>
  <title>SwimmersZero</title>
  <meta charset="utf-8">
  <meta name="description" content="水泳選手の記録の分析を数百万の大会結果から出力します。">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#ffffff">
  <link rel="icon" type="image/png" href="static/img/icon-192x192.png">
  <link rel="apple-touch-icon" type="image/png" href="static/img/apple-touch-icon-180x180.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="static/css/common.css">
  <link rel="stylesheet" href="static/css/dashboard.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149393969-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-149393969-2');
  </script>
</head>

<body>
  <nav>
    <a href="/"><img src="static/img/logo.svg" alt="Zero" id="logo"></a>
    <form id="search-container" method="post" action="/dashboard">
      <input name="name" type="text" placeholder="選手を検索">
      <input type="submit" value=""><span></span>
    </form>
  </nav>

  <div id="swimmer-info">
    <img src="static/img/{{s.sex}}.svg" alt="{{s.sex}}" id="p-icon">
    <div class="column">
      <h1>{{s.name}}</h1>
      <div id="tips">
        <span class="univ">{{s.grade}}</span>
        {% for t in s.teams %}
        <span>{{t}}</span>
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="cards">
    <div id="participate">
      <div id="bar-container" class="card">
        <canvas id="bar" width="400" height="400"></canvas>
      </div>
      <div class="column">
        <div class="card">
          <p class="caption">出場回数</p>
          <p class="data">{{s.total_count}}<span>回</span></p>
        </div>
        <div class="card">
          <p class="caption">S1種目</p>
          <p class="data">{{s.s1}}</p>
        </div>
        <div class="card">
          <p class="caption">S1偏差値(長)</p>
          <p class="data">{{s.dev_long}}</p>
        </div>
        <div class="card">
          <p class="caption">S1偏差値(短)</p>
          <p class="data">{{s.dev_short}}</p>
        </div>
      </div>
    </div>

    <div id="condition" class="card">
      <h2>2019年度の調子</h2>
      <p>○…長水路 ◇…短水路</p>
      <div id="line-container">
        <canvas id="lineChart" width="400" height="250"></canvas>
      </div>
    </div>
  </div>

  <div class="caption-container">
    <div class="circle"></div>
    <h3>Bests</h3>
  </div>
  <div id="bests">
    {% if s.Fr_sprint_bests %}
    <div class="card">
      <div class="header Fr">
        <img src="static/img/Fr.svg" alt="自由形">
        <p>自由形</p>
      </div>
      <div class="best_container">
        <table>
          <thead>
            <tr><td><span>短</span></td><td></td><td><span>長</span></td></tr>
          </thead>
          <tbody>
            <tr><td>{{s.Fr_sprint_bests['s-50Fr'][0]}}</td><th rowspan="2"><span>50m</span></th><td>{{s.Fr_sprint_bests['l-50Fr'][0]}}</td></tr>
            <tr><td>{{s.Fr_sprint_bests['s-50Fr'][1]}}</td><td>{{s.Fr_sprint_bests['l-50Fr'][1]}}</td></tr>
            <tr><td>{{s.Fr_sprint_bests['s-100Fr'][0]}}</td><th rowspan="2"><span>100m</span></th><td>{{s.Fr_sprint_bests['l-100Fr'][0]}}</td></tr>
            <tr><td>{{s.Fr_sprint_bests['s-100Fr'][1]}}</td><td>{{s.Fr_sprint_bests['l-100Fr'][1]}}</td></tr>
            <tr><td>{{s.Fr_sprint_bests['s-200Fr'][0]}}</td><th rowspan="2"><span>200m</span></th><td>{{s.Fr_sprint_bests['l-200Fr'][0]}}</td></tr>
            <tr><td>{{s.Fr_sprint_bests['s-200Fr'][1]}}</td><td>{{s.Fr_sprint_bests['l-200Fr'][1]}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if s.Fr_endurance_bests %}
    <div class="card">
      <div class="header Fr">
        <img src="static/img/Fr.svg" alt="自由形">
        <p>自由形</p>
      </div>
      <div class="best_container">
        <table>
          <thead>
            <tr><td><span>短</span></td><td></td><td><span>長</span></td></tr>
          </thead>
          <tbody>
            <tr><td>{{s.Fr_endurance_bests['s-400Fr'][0]}}</td><th rowspan="2"><span>400m</span></th><td>{{s.Fr_endurance_bests['l-400Fr'][0]}}</td></tr>
            <tr><td>{{s.Fr_endurance_bests['s-400Fr'][1]}}</td><td>{{s.Fr_endurance_bests['l-400Fr'][1]}}</td></tr>
            <tr><td>{{s.Fr_endurance_bests['s-800Fr'][0]}}</td><th rowspan="2"><span>800m</span></th><td>{{s.Fr_endurance_bests['l-800Fr'][0]}}</td></tr>
            <tr><td>{{s.Fr_endurance_bests['s-800Fr'][1]}}</td><td>{{s.Fr_endurance_bests['l-800Fr'][1]}}</td></tr>
            <tr><td>{{s.Fr_endurance_bests['s-1500Fr'][0]}}</td><th rowspan="2"><span>1500m</span></th><td>{{s.Fr_endurance_bests['l-1500Fr'][0]}}</td></tr>
            <tr><td>{{s.Fr_endurance_bests['s-1500Fr'][1]}}</td><td>{{s.Fr_endurance_bests['l-1500Fr'][1]}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if s.Ba_bests %}
    <div class="card">
      <div class="header Ba">
        <img src="static/img/Ba.svg" alt="背泳ぎ">
        <p>背泳ぎ</p>
      </div>
      <div class="best_container">
        <table>
          <thead>
            <tr><td><span>短</span></td><td></td><td><span>長</span></td></tr>
          </thead>
          <tbody>
            <tr><td>{{s.Ba_bests['s-50Ba'][0]}}</td><th rowspan="2"><span>50m</span></th><td>{{s.Ba_bests['l-50Ba'][0]}}</td></tr>
            <tr><td>{{s.Ba_bests['s-50Ba'][1]}}</td><td>{{s.Ba_bests['l-50Ba'][1]}}</td></tr>
            <tr><td>{{s.Ba_bests['s-100Ba'][0]}}</td><th rowspan="2"><span>100m</span></th><td>{{s.Ba_bests['l-100Ba'][0]}}</td></tr>
            <tr><td>{{s.Ba_bests['s-100Ba'][1]}}</td><td>{{s.Ba_bests['l-100Ba'][1]}}</td></tr>
            <tr><td>{{s.Ba_bests['s-200Ba'][0]}}</td><th rowspan="2"><span>200m</span></th><td>{{s.Ba_bests['l-200Ba'][0]}}</td></tr>
            <tr><td>{{s.Ba_bests['s-200Ba'][1]}}</td><td>{{s.Ba_bests['l-200Ba'][1]}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if s.Br_bests %}
    <div class="card">
      <div class="header Br">
        <img src="static/img/Br.svg" alt="平泳ぎ">
        <p>平泳ぎ</p>
      </div>
      <div class="best_container">
        <table>
          <thead>
            <tr><td><span>短</span></td><td></td><td><span>長</span></td></tr>
          </thead>
          <tbody>
            <tr><td>{{s.Br_bests['s-50Br'][0]}}</td><th rowspan="2"><span>50m</span></th><td>{{s.Br_bests['l-50Br'][0]}}</td></tr>
            <tr><td>{{s.Br_bests['s-50Br'][1]}}</td><td>{{s.Br_bests['l-50Br'][1]}}</td></tr>
            <tr><td>{{s.Br_bests['s-100Br'][0]}}</td><th rowspan="2"><span>100m</span></th><td>{{s.Br_bests['l-100Br'][0]}}</td></tr>
            <tr><td>{{s.Br_bests['s-100Br'][1]}}</td><td>{{s.Br_bests['l-100Br'][1]}}</td></tr>
            <tr><td>{{s.Br_bests['s-200Br'][0]}}</td><th rowspan="2"><span>200m</span></th><td>{{s.Br_bests['l-200Br'][0]}}</td></tr>
            <tr><td>{{s.Br_bests['s-200Br'][1]}}</td><td>{{s.Br_bests['l-200Br'][1]}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if s.Fly_bests %}
    <div class="card">
      <div class="header Fly">
        <img src="static/img/Fly.svg" alt="バタフライ">
        <p>バタフライ</p>
      </div>
      <div class="best_container">
        <table>
          <thead>
            <tr><td><span>短</span></td><td></td><td><span>長</span></td></tr>
          </thead>
          <tbody>
            <tr><td>{{s.Fly_bests['s-50Fly'][0]}}</td><th rowspan="2"><span>50m</span></th><td>{{s.Fly_bests['l-50Fly'][0]}}</td></tr>
            <tr><td>{{s.Fly_bests['s-50Fly'][1]}}</td><td>{{s.Fly_bests['l-50Fly'][1]}}</td></tr>
            <tr><td>{{s.Fly_bests['s-100Fly'][0]}}</td><th rowspan="2"><span>100m</span></th><td>{{s.Fly_bests['l-100Fly'][0]}}</td></tr>
            <tr><td>{{s.Fly_bests['s-100Fly'][1]}}</td><td>{{s.Fly_bests['l-100Fly'][1]}}</td></tr>
            <tr><td>{{s.Fly_bests['s-200Fly'][0]}}</td><th rowspan="2"><span>200m</span></th><td>{{s.Fly_bests['l-200Fly'][0]}}</td></tr>
            <tr><td>{{s.Fly_bests['s-200Fly'][1]}}</td><td>{{s.Fly_bests['l-200Fly'][1]}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if s.IM_bests %}
    <div class="card">
      <div class="header IM">
        <img src="static/img/IM.svg" alt="個人メドレー">
        <p>個人メドレー</p>
      </div>
      <div class="best_container">
        <table>
          <thead>
            <tr><td><span>短</span></td><td></td><td><span>長</span></td></tr>
          </thead>
          <tbody>
            <tr><td>{{s.IM_bests['s-100IM'][0]}}</td><th rowspan="2"><span>100m</span></th><td>{{s.IM_bests['l-100IM'][0]}}</td></tr>
            <tr><td>{{s.IM_bests['s-100IM'][1]}}</td><td>{{s.IM_bests['l-100IM'][1]}}</td></tr>
            <tr><td>{{s.IM_bests['s-200IM'][0]}}</td><th rowspan="2"><span>200m</span></th><td>{{s.IM_bests['l-200IM'][0]}}</td></tr>
            <tr><td>{{s.IM_bests['s-200IM'][1]}}</td><td>{{s.IM_bests['l-200IM'][1]}}</td></tr>
            <tr><td>{{s.IM_bests['s-400IM'][0]}}</td><th rowspan="2"><span>400m</span></th><td>{{s.IM_bests['l-400IM'][0]}}</td></tr>
            <tr><td>{{s.IM_bests['s-400IM'][1]}}</td><td>{{s.IM_bests['l-400IM'][1]}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
  </div>


  <div class="caption-container">
    <div class="circle"></div>
    <h3>Records</h3>
  </div>

  <div id="records" class="card">
    <table>
      <tbody>
        {% for r in s.records.itertuples() %}
        <tr>
          <td><span class="{{r.style}}">{{r.event}}</span></td>
          <td>{{r.time}}</td>
          <td><span class="{{r.pool}}">{% if r.pool == 'l' %}長{% else %}短{% endif %}</span></td>
          <td>{{r.start}}<br>{{r.meet_name}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>





  <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0
      58-18 88-18s
      58 18 88 18
      58-18 88-18
      58 18 88 18
      v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
      <use xlink:href="#gentle-wave" x="50" y="3" fill="#3461c1" />
      <use xlink:href="#gentle-wave" x="50" y="6" fill="#2d55aa" />
    </g>
  </svg>
  <div id="footer">
    <p>Created by Reo Kanzaki</p>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script>
    var colorLong = '#4cc4eb';
    var colorShort = '#48cfad';
    var tDegree = '33'
    var gray = '#555';
    var lineWidth = 1.2;

    var ctxBar = document.getElementById("bar").getContext('2d');
    var dataLong = {{s.count_style_long}};
    var dataShort = {{s.count_style_short}};
    var barConfig = {
      type: 'bar',
      data: {
        labels: ['Fr', 'Ba', 'Br', 'Fly', 'IM'],
        datasets: [{
          data: dataLong,
          label: '長水路',
          borderColor: colorLong,
          backgroundColor: colorLong + tDegree,
          borderWidth: lineWidth,
        }, {
          data: dataShort,
          label: '短水路',
          borderColor: colorShort,
          backgroundColor: colorShort + tDegree,
          borderWidth: lineWidth,
        }]
      },
      options: {
        scales: {
          yAxes: [{
            stacked: true,
            ticks: {
              fontColor: gray,
              min: 0,
              suggestedMax: 20,
              stepSize: 5,
              padding: -5,
            },
            gridLines: {
              display: false
            },
          }],
          xAxes: [{
            stacked: true,
            ticks: {
              fontColor: gray,
              padding: -7,
            },
            gridLines: {
              display: false
            }
          }],
        },
        legend: {
          display: false
        },
        animation: {
          duration: 1500,
          easing: 'easeOutQuint',
        }
      }
    };
    var bar = new Chart(ctxBar, barConfig);

    var jMonths = ['4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4'];
    var ctxLine = document.getElementById("lineChart").getContext('2d');
    var e1Long = [{{s.e1_long_points}}];
    var e1Short = [{{s.e1_short_points}}];
    var e2Long = [{{s.e2_long_points}}];
    var e2Short = [{{s.e2_short_points}}];
    var colorE1 = '#4cc4eb';
    var colorE2 = '#48cfad';
    var colorE3 = '#a0d468';
    var colorE4 = '#ffce54';
    var tDegree = '11';
    var lineWidth = 2;
    var datasets = [{
        label: '長 {{s.s1}}',
        data: e1Long,
        pointStyle: 'circle',
        borderColor: colorE1,
        backgroundColor: colorE1 + tDegree,
        showLine: true,
        borderWidth: lineWidth,
        pointBackgroundColor: '#fff',
        pointRadius: 2.5,
      },
      {
        label: '短 {{s.s1}}',
        data: e1Short,
        pointStyle: 'rectRot',
        borderColor: colorE2,
        backgroundColor: colorE2 + tDegree,
        showLine: true,
        borderWidth: lineWidth,
        pointBackgroundColor: '#fff',
        pointRadius: 2.8,
      },
      {
        label: '長 {{s.s2}}',
        data: e2Long,
        pointStyle: 'circle',
        borderColor: colorE3,
        backgroundColor: colorE3 + tDegree,
        showLine: true,
        borderWidth: lineWidth,
        pointBackgroundColor: '#fff',
        pointRadius: 2.5,
      },
      {
        label: '短 {{s.s2}}',
        data: e2Short,
        pointStyle: 'rectRot',
        borderColor: colorE4,
        backgroundColor: colorE4 + tDegree,
        showLine: true,
        borderWidth: lineWidth,
        pointBackgroundColor: '#fff',
        pointRadius: 2.8,
      }
    ];

    var lineConfig = {
      type: 'scatter',
      data: {
        datasets: datasets
      },
      options: {
        // tooltips: {
        //   enabled: false
        // },
        elements: {
          line: {
            tension: 0.15,
          },
        },
        legend: {
          position: 'bottom',
          labels: {
            boxWidth: 10,
            fontSize: 11,
          }
        },
        scales: {
          xAxes: [{
            ticks: {
              suggestedMin: 0,
              suggestedMax: 244,
              stepSize: 1,
              autoSkip: false,
              maxRotation: 0,
              callback: function(value, index, values) {
                // 4月1日からの経過日数リスト。これらは各月の一日目。個人的に最高にイカしてる実装方法
                var i = [0, 30, 61, 91, 122, 153, 183, 214, 244, 275, 306, 335, 365].indexOf(value);
                if (i >= 0) {
                  return jMonths[i]
                } else {
                  return null
                }
              }
            },
            gridLines: {
              borderDash: [3],
              zeroLineBorderDash: [3],
              tickMarkLength: 8,
              color: '#aaa',
              zeroLineColor: '#aaa',
              lineWidth: 0.5,
              zeroLineWidth: 0.5,
            }
          }],
          yAxes: [{
            display: false,
            ticks: {
              suggestedMin: 0,
              suggestedMax: 105,
              stepSize: 1,
            }
          }]
        },
        animation: {
          duration: 1500,
          easing: 'easeOutQuint',
        }
      }
    };
    var myChart = new Chart(ctxLine, lineConfig);
  </script>
</body>

</html>
