<!DOCTYPE html>
<html>
<head>
  {% include "partial/head.html" %}
  <title>{{s.name}}【個人分析結果】 | スイマーズ ゼロ</title>
  <link rel="stylesheet" href="static/css/dashboard_v2.css">
</head>
<body>
  {% include "partial/header.html" %}
  <main>

    <div id="about"><div class="wrap">
      <i class="user {{s.sex}} fas fa-user-circle"></i>
      <h1><span></span>{{s.name}}</h1>
      <p class="tips">
        <span>{{s.grade_jp}}</span>
        {% for t in s.teams %}
        <a href="/search?q={{t}}">{{t}}</a>
        {% endfor %}
      </p>
      <div class="icons">
        {% for i in s.icons %}<i class="fas {{i}}"></i>{% endfor %}
      </div>

      <div class="row">
        <div class="gauge">
          <div class="mask"></div>
        </div>
        <div class="numeric-data">
          <div class="child">
            <p>総レース数</p>
            <p data-aos="flip-up">{{s.total_count}}</p>
          </div>
          <div class="child">
            <p>{{s.events[0].eng_event()}}偏差値</p>
            <p data-aos="flip-up">{{s.deviation}}</p>
          </div>
        </div>

        <div class="participate">
          <div class="event">
            <p>自由形</p><p><span class="fr"></span></p>
          </div>
          <div class="event">
            <p>背泳ぎ</p><p><span class="ba"></span></p>
          </div>
          <div class="event">
            <p>平泳ぎ</p><p><span class="br"></span></p>
          </div>
          <div class="event">
            <p>バタフライ</p><p><span class="fly"></span></p>
          </div>
          <div class="event">
            <p>個人メドレー</p><p><span class="im"></span></p>
          </div>
        </div>

      </div>
    </div></div>

    <div id="tips">
      <span>TIPS</span>記録をタップで詳細情報・グラフは薄色が短水路
    </div>

    {% for i in range(2) %}
    <div class="trend-container">
      <h2><i class="fas fa-poll"></i></i>{{s.events[i].jpn_event()}}の調子</h2>
      <div class="trend card">
        <div class="wrap">
          <div class="chartarea">
            <canvas class="myLineChart" height="200"></canvas>
          </div>
        </div>
      </div>
      <div class="ranking">
        {% for pool in ['長', '短'] %}
        <div class="item" data-aos="flip-up">
          <p class="pool">{{pool}}</p>
          <div class="card">
            <div class="cell">
              <p>今年度ベスト</p>
              <p class="set-best"><i class="fas fa-spinner fa-pulse"></i></p>
            </div>
            <div class="cell rank">
              <p>同学年</p>
              <p class="set-same-ranking"><i class="fas fa-spinner fa-pulse"></i></p>
              <p class="set-same-count">-</p>
            </div>
            <div class="cell rank">
              <p>全体</p>
              <p class="set-whole-ranking"><i class="fas fa-spinner fa-pulse"></i></p>
              <p class="set-whole-count">-</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}


    <h2><i class="fas fa-dumbbell"></i>ベストタイム一覧</h2>
    <div id="bests">
      {% for card in s.cards %}
      <div class="card" data-aos="flip-left">
        <div class="head {{card.events[0].eng_style()}}">
          <img src="static/img/{{card.events[0].eng_style()}}.svg" alt="泳法">
          <p>{{card.events[0].jpn_style()}}</p>
        </div>
        <div class="content">
          <div class="row"><p class="caption">短水路</p><p class="caption">長水路</p></div>
          {% for i in range(0, 3) %}
          <div class="row">
            <div class="cell" onclick="show_detail({{card.results[i * 2].id}})">
              <p>{{card.results[i * 2].time}}</p>
              <p>{{card.results[i * 2].date}}</p>
            </div>
            <div class="nav">{{card.events[i].distance}}</div>
            <div class="cell" onclick="show_detail({{card.results[i * 2 + 1].id}})">
              <p>{{card.results[i * 2 + 1].time}}</p>
              <p>{{card.results[i * 2 + 1].date}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}

    </div>


    <h2><i class="fas fa-database"></i>全記録</h2>

    <div id="records" class="card">
      <table>
        <tbody>
          {% for id, event, time, pool, start, meet_name in s.records %}
          <tr onclick="show_detail({{id}})">
            <td><span style-num="{{event.style}}">{{event.eng_event()}}</span></td>
            <td>{{time}}</td>
            <td><span pool={{pool}}>{% if pool == 1 %}長{% else %}短{% endif %}</span></td>
            <td>{{start}}<br>{{meet_name}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </main>

  {% include "partial/footer.html" %}
  {% include "partial/ajax.html" %}

  <script>
    window.onload = function() {
      document.getElementsByClassName('mask')[0].style.height = '{{s.mask_height}}px';
      document.getElementsByClassName('participate')[0].getElementsByClassName('fr')[0].style.width = '{{s.count_race[0]}}%';
      document.getElementsByClassName('participate')[0].getElementsByClassName('ba')[0].style.width = '{{s.count_race[1]}}%';
      document.getElementsByClassName('participate')[0].getElementsByClassName('br')[0].style.width = '{{s.count_race[2]}}%';
      document.getElementsByClassName('participate')[0].getElementsByClassName('fly')[0].style.width = '{{s.count_race[3]}}%';
      document.getElementsByClassName('participate')[0].getElementsByClassName('im')[0].style.width = '{{s.count_race[4]}}%';
      document.getElementsByTagName('h1')[0].classList.add('start');
      document.getElementsByClassName('icons')[0].classList.add('start');

      var e1_best_short = {{s.e1bests[0]}};
      var e1_best_long = {{s.e1bests[1]}};
      var e2_best_short = {{s.e2bests[0]}};
      var e2_best_long = {{s.e2bests[1]}};
      var best_values = [e1_best_long, e1_best_short, e2_best_long, e2_best_short];
      var event_codes = [{{s.events[0].code}}, {{s.events[1].code}}];
      var grade = {{s.grade}};

      var elm_bests = document.getElementsByClassName('set-best');
      var elms_same_ranking = document.getElementsByClassName('set-same-ranking');
      var elms_same_count = document.getElementsByClassName('set-same-count');
      var elms_whole_ranking = document.getElementsByClassName('set-whole-ranking');
      var elms_whole_count = document.getElementsByClassName('set-whole-count');

      for(i = 0; i <= 3; i++) {
        var data = {
          index: i,
          time_val: best_values[i],
          event_code: event_codes[Math.floor(i / 2)],
          pool: i % 2 == 0 ? 1 : 0,
          grade: grade
        };
        axios.post('/rankAPI', data)
          .then(res => {
            data = res.data;
            var index = data['index'];
            elm_bests[index].innerHTML = data['time'];
            elms_same_ranking[index].innerHTML = data['same_ranking'];
            elms_same_count[index].innerHTML = data['same_count'];
            elms_whole_ranking[index].innerHTML = data['whole_ranking'];
            elms_whole_count[index].innerHTML = data['whole_count'];
          })
          .catch(err => alert(err))
      }
    }

  </script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script>
  var jMonths = ['4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3',
                  '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3',
                  '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3',
                  '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4'];
  var elapsed_days = [0, 30, 61, 91, 122, 153, 183, 214, 244, 275, 306, 334, 365,
                  395, 426, 456, 487, 518, 548, 579, 609, 640, 671, 699, 730,
                  760, 791, 821, 852, 883, 913, 944, 974, 1005, 1036, 1065,
                  1096, 1126, 1157, 1187, 1218, 1249, 1279, 1310, 1340, 1371, 1402, 1430, 1461
                ]
  var trend1 = document.getElementsByClassName("myLineChart")[0].getContext('2d');
  var trend2 = document.getElementsByClassName("myLineChart")[1].getContext('2d');
  var colorE1 = '#4cc4eb';
  var colorE2 = '#bbe1ed';
  var colorE3 = '#48cfad';
  var colorE4 = '#b4ede0';
  var tDegree = '10';
  var lineWidth = 1.6;

  var e1_short_data = {{s.trends[0]}};
  var e1_long_data = {{s.trends[1]}};
  var e2_short_data = {{s.trends[2]}};
  var e2_long_data = {{s.trends[3]}};

  set_line_chart(trend1, e1_long_data, e1_short_data, colorE1, colorE2);
  set_line_chart(trend2, e2_long_data, e2_short_data, colorE3, colorE4);

  function set_line_chart(element, long_data, short_data, long_color, short_color) {
    var datasets = [{
        label: '長水路',
        data: long_data,
        pointStyle: 'circle',
        borderColor: long_color,
        backgroundColor: long_color + tDegree,
        showLine: true,
        borderWidth: lineWidth,
        pointBackgroundColor: '#fff',
        pointRadius: 2.2,
      },
      {
        label: '短水路',
        data: short_data,
        pointStyle: 'rectRot',
        borderColor: short_color,
        backgroundColor: short_color + tDegree,
        showLine: true,
        borderWidth: lineWidth,
        pointBackgroundColor: '#fff',
        pointRadius: 2.5,
      }
    ];

    var lineConfig = {
      type: 'scatter',
      data: {
        datasets: datasets
      },
      options: {
        tooltips: {
          enabled: false
        },
        elements: {
          line: {
            tension: 0.1,
          },
        },
        legend: {
          display: false,
        },
        scales: {
          xAxes: [{
            ticks: {
              suggestedMin: 0,
              suggestedMax: 1036,
              stepSize: 1,
              autoSkip: false,
              maxRotation: 0,
              fontSize: 11,
              fontColor: '#ccc',
              callback: function(value, index, values) {
                // 4月1日からの経過日数リスト。これらは各月の一日目。個人的に最高にイカしてる実装方法
                // var i = [0, 30, 61, 91, 122, 153, 183, 214, 244, 275, 306, 335, 365].indexOf(value);
                var i = elapsed_days.indexOf(value);
                if (i >= 0) {
                  return jMonths[i]
                } else {
                  return null
                }
              }
            },
            gridLines: {
              // borderDash: [3],
              // zeroLineBorderDash: [3],
              // tickMarkLength: 8,
              color: '#ccc',
              zeroLineColor: '#ccc',
              lineWidth: 0.3,
              zeroLineWidth: 0.3,
            }
          }],
          yAxes: [{
            display: false,
            ticks: {
              suggestedMin: 0,
              suggestedMax: 102,
              stepSize: 1,
            }
          }]
        },
        animation: false
      }
    };
    var myChart = new Chart(element, lineConfig);
  }

  document.getElementsByClassName('trend')[0].getElementsByClassName('wrap')[0].scrollLeft = 1000;
  document.getElementsByClassName('trend')[1].getElementsByClassName('wrap')[0].scrollLeft = 1000;
  </script>

</body>

</html>
