<!DOCTYPE html>
<html lang="ja">

<head>
  <title>Swimmers Zero</title>
  <meta charset="utf-8">
  <meta name="description" content="日本全国の競泳レースを毎日自動解析。ランキングや選手個人の分析結果をご覧いただけます。">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#ffffff">
  <link rel="icon" type="image/png" href="static/img/icon-192x192.png">
  <link rel="apple-touch-icon" type="image/png" href="static/img/apple-touch-icon-180x180.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="static/css/odometer-theme-default.css">
  <link rel="stylesheet" href="static/css/index.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149393969-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-149393969-2');
  </script>
</head>
<body>


  <div id="logo">
    <a href="/"><img src="static/img/zero_logo_white_optimized.svg" alt="Zero"></a>
  </div>

  <div id="header">
    <div data-text="全員､ランクイン｡">全員､ランクイン｡</div>
  </div>

  <div id="total">
    <h2>現在のレコード数</h2>
    <p class="odometer" id="target">0<p>
  </div>

  <div id="ranking">
    <h2>ランキングを見る</h2>
    <div class="buttons">
      <div><a href="ranking?sex=1">男子</a></div>
      <div><a href="ranking?sex=2">女子</a></div>
    </div>
  </div>


  <div id="readme">
    <h2>このサイトについて</h2>
    <p>
      数字にこだわるすべてのスイマーへ――
      データ分析の新しい可能性を提供します。
      日本全国すべてのレース結果を毎日自動解析。
      修正点や改善点、新しい分析のアイデアがございましたら是非私にお寄せください。
      ※リレーや男女混合種目のデータはまだ反映できておりません。
    </p>
  </div>

  <div id="update">
    <h2>更新履歴</h2>
    <table><tbody>
      <tr>
        <th>2019/12/12</th>
        <td>ユーザー数100人を突破しました！ありがとうございます！</td>
      </tr>
      <tr>
        <th>2019/12/03</th>
        <td>ベストタイムが正常に出力されない致命的なミスを修正。一人だけじゃ気が付かない事が多いので不具合あったら教えて下さい！T.H.ありがとう！</td>
      </tr>
      <tr>
        <th>2019/11/28</th>
        <td>団体名検索を追加 / ドメイン取得 <a href="https://swim-zero.com/">こちら</a>のURLを使用してください！</td>
      </tr>
      <tr>
        <th>2019/11/27</th>
        <td>選手名のあいまい検索を追加</td>
      </tr>
      <tr>
        <th>2019/11/26</th>
        <td>ランキングページデザイン変更 / 学年による絞り込み</td>
      </tr>
      <tr>
        <th>2019/11/23</th>
        <td>偏差値に関わる統計値調整 / ダッシュボード内部処理改善</td>
      </tr>
      <tr>
        <th>2019/11/20</th>
        <td>外国籍選手除外 / S1偏差値導出 / 一部ランキングの高速化</td>
      </tr>
      <tr>
        <th>2019/11/19</th>
        <td>トップページのデザイン変更</td>
      </tr>
      <tr>
        <th>2019/11/15</th>
        <td>ベータ版をローンチ</td>
      </tr>
    </tbody></table>
  </div>

  <div id="todo">
    <h2>実装予定</h2>
    <ul>
      <li>デザインの刷新・検索をトップページから</li>
      <li>ランキング種目選択の刷新</li>
      <li>ベスト更新の通知機能</li>
      <li>大会検索</li>
      <li>リレーの記録の取り込み</li>
      <li>DBのテーブル構造変更</li>
      <li>ラップタイムの分析・ベストとの比較</li>
      <li>19年以前の記録の取り込み</li>
      <li>全員の記録の分布を見られるように</li>
      <li>偏差値計算機能</li>
      <li>レース詳細を非同期通信で見られるように</li>
      <li>混合種目の記録の男女判別</li>
      <li>大会標準記録との連動</li>
      <li>初回アクセス時のみ使い方表示</li>
      <li>大会得点予想(隠し機能)</li>
    </ul>
  </div>


  <div id="credits">
    <h2>CREDITS</h2>
    <ul>
      <li>“<a href="https://thenounproject.com/787kmj787/uploads/?i=1493460">freestyle</a>” icon by ummmpa from <a href="http://thenounproject.com/">the Noun Project</a>.</li>
      <li>“<a href="https://thenounproject.com/search/?q=backstroke&i=1493461">backstroke</a>” icon by ummmpa from <a href="http://thenounproject.com/">the Noun Project</a>.</li>
      <li>“<a href="https://thenounproject.com/787kmj787/uploads/?i=1493463">breaststroke</a>” icon by ummmpa from <a href="http://thenounproject.com/">the Noun Project</a>.</li>
      <li>“<a href="https://thenounproject.com/787kmj787/uploads/?i=1493462">Butterfly</a>” icon by ummmpa from <a href="http://thenounproject.com/">the Noun Project</a>.</li>
      <li>“<a href="https://thenounproject.com/term/circles/2957877/">circles</a>” icon by Andrejs Kirma from <a href="http://thenounproject.com/">the Noun Project</a>.</li>
    </ul>
  </div>


  <div id="footer">
    <p>Reo Kanzaki</p>
  </div>


  <script src="static/js/odometer.min.js"></script>
  <script>
    var odometer = document.getElementById("target");
    window.onload = function() {
      odometer.innerHTML = {{count_records}};
    };
  </script>
</body>

</html>
