<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Swimmers' Zero</title>
  <meta name="description" content="ここにサイト説明を入れます">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="static/odometer-theme-default.css">
  <link rel="icon" href="static/favicon.ico">
</head>

<body>
  <header>
    <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
        まだ作ってないw
        <ul id="nav">
          <li><a href="">Develop</a></li>
          <li><a href="">Search</a></li>
          <li><a href="">Ranking</a></li>
        </ul>
      </div>
    </div>
    <a href="/"><img src="static/logo.png" alt="Swimmers' Zero" id="logo"></a>
  </header>

  <div id="hero">
    <img src="static/hero.png" alt="全員、ランクイン。">
  </div>

  <div id="count-record">
    <div class="front">
      <p>現在のレコード数</p>
      <p class="odometer" id="target">1000000<p>
    </div>
    <!-- なんかかっこいい雨あられアニメーション -->
    <div class="back">
      <figure></figure>
      <figure></figure>
      <figure></figure>
      <figure></figure>
      <figure></figure>
    </div>
  </div>

  <div id="category">
    <p>区分からランキングを検索</p>
    <div class="buttons">
      <a class="button" href="ranking?pool=0&sex=1">男子短水路</a>
      <a class="button women" href="ranking?pool=0&sex=2">女子短水路</a>
      <a class="button" href="ranking?pool=1&sex=1">男子長水路</a>
      <a class="button women" href="ranking?pool=1&sex=2">女子長水路</a>
    </div>
  </div>


  <footer>
    <p>CREATED BY REO KANZAKI</p>
  </footer>

  <script src="static/odometer.min.js"></script>
  <script>
    var odometer = document.getElementById("target");
    window.onload = function() {
      odometer.innerHTML = {{count_records}};
    };
  </script>
</body>

</html>
