<!DOCTYPE html>
<html>
<head>
  {% include "partial/head.html" %}
  <title>{{jpn_event}}【最新競泳ランキング】 | Swimmers Zero</title>
  <link rel="stylesheet" href="static/css/ranking.css">
</head>
<body>
  {% include "partial/header.html" %}
  <main>

    <h1>{{jpn_event}}</h1>

    <div id="setting">

      <div class="selectStyle" onclick="activate(selectEvents);activate(overlay)">
        <i class="fas fa-cog"></i>
        種目を変更する
      </div>

      <div class="row">
        <div id="year" class="button deactivate">
          {% if year == 19 %}
          <p onclick="activate(year);activate(overlay)">19年度<i class="fas fa-angle-down"></i></p>
          <div class="items"><p onclick="jump_page(current_event, 18, current_pool)">18年度</p></div>
          {% elif year == 18 %}
          <p onclick="activate(year);activate(overlay)">18年度<i class="fas fa-angle-down"></i></p>
          <div class="items"><p onclick="jump_page(current_event, 19, current_pool)">19年度</p></div>
          {% endif %}
        </div>

        <div id="sex" class="button deactivate">
          {% if sex == 1 %}
          <p onclick="activate(sex);activate(overlay)">男子<i class="fas fa-angle-down"></i></p>
          <div class="items"><p onclick="jump_page(200 + current_style, current_year, current_pool)">女子</p></div>
          {% else %}
          <p onclick="activate(sex);activate(overlay)">女子<i class="fas fa-angle-down"></i></p>
          <div class="items"><p onclick="jump_page(100 + current_style, current_year, current_pool)">男子</p></div>
          {% endif %}
        </div>

        <div id="pool" class="button deactivate">
          {% if pool == 1 %}
          <p onclick="activate(pool);activate(overlay)">長水路<i class="fas fa-angle-down"></i></p>
          <div class="items"><p onclick="jump_page(current_event, current_year, 0)">短水路</p></div>
          {% else %}
          <p onclick="activate(pool);activate(overlay)">短水路<i class="fas fa-angle-down"></i></p>
          <div class="items"><p onclick="jump_page(current_event, current_year, 1)">長水路</p></div>
          {% endif %}
        </div>

      </div>

      <div id="gradeFilter">
        <input type="checkbox" id="showGrade" {% if grades %}checked{% endif %}>
        <label for="showGrade">
          <p>
            <span class="tg-back"></span>
            <span class="tg-front"></span>
            学年で絞り込み
          </p>
        </label>
        <div class="selectGrades">
          <form method="post" name="grades">
            <div class="school">
              <label><input type="checkbox" name="grade" value="1" {% if 1 in grades %}checked{% endif %}><span>小1</span></label>
              <label><input type="checkbox" name="grade" value="2" {% if 2 in grades %}checked{% endif %}><span>小2</span></label>
              <label><input type="checkbox" name="grade" value="3" {% if 3 in grades %}checked{% endif %}><span>小3</span></label>
              <label><input type="checkbox" name="grade" value="4" {% if 4 in grades %}checked{% endif %}><span>小4</span></label>
              <label><input type="checkbox" name="grade" value="5" {% if 5 in grades %}checked{% endif %}><span>小5</span></label>
              <label><input type="checkbox" name="grade" value="6" {% if 6 in grades %}checked{% endif %}><span>小6</span></label>
            </div>
            <div class="school">
              <label><input type="checkbox" name="grade" value="7" {% if 7 in grades %}checked{% endif %}><span>中1</span></label>
              <label><input type="checkbox" name="grade" value="8" {% if 8 in grades %}checked{% endif %}><span>中2</span></label>
              <label><input type="checkbox" name="grade" value="9" {% if 9 in grades %}checked{% endif %}><span>中3</span></label>
            </div>
            <div class="school">
              <label><input type="checkbox" name="grade" value="10" {% if 10 in grades %}checked{% endif %}><span>高1</span></label>
              <label><input type="checkbox" name="grade" value="11" {% if 11 in grades %}checked{% endif %}><span>高2</span></label>
              <label><input type="checkbox" name="grade" value="12" {% if 12 in grades %}checked{% endif %}><span>高3</span></label>
            </div>
            <div class="school">
              <label><input type="checkbox" name="grade" value="13" {% if 13 in grades %}checked{% endif %}><span>大1</span></label>
              <label><input type="checkbox" name="grade" value="14" {% if 14 in grades %}checked{% endif %}><span>大2</span></label>
              <label><input type="checkbox" name="grade" value="15" {% if 15 in grades %}checked{% endif %}><span>大3</span></label>
              <label><input type="checkbox" name="grade" value="16" {% if 16 in grades %}checked{% endif %}><span>大4</span></label>
              <label><input type="checkbox" name="grade" value="17" {% if 17 in grades %}checked{% endif %}><span>大5</span></label>
              <label><input type="checkbox" name="grade" value="18" {% if 18 in grades %}checked{% endif %}><span>大6</span></label>
            </div>
            <div class="school">
              <label><input type="checkbox" name="grade" value="19" {% if 19 in grades %}checked{% endif %}><span>一般</span></label>
            </div>
          </form>
          <p class="submit" onclick="jump_page(current_event, current_year, current_pool)">絞り込む</p>
        </div>

      </div>
    </div>


    <div id="ranking" sex={{sex}}>
      <table><tbody>
        {% for id, new, name, time, grade, grade_jp, team in ranking %}
        <tr class="{% if loop.index <= 10 %}top10{% endif %} {% if new %}new{% endif %}" onclick="show_detail({{id}})">
          <td><span>{{loop.index}}</span></td>
          <td><a href="/dashboard?name={{name}}&grade={{grade}}">{{name}}<i class="fas fa-chevron-circle-right"></i></a></td>
          <td>{{time}}</td>
          <td><span>{{grade_jp}}</span></td>
          <td>{{team}}</td>
        </tr>
        {% endfor %}
      </tbody></table>

      {% if all == 0 %}
      <p class="load" onclick="jump_page(current_event, current_year, current_pool, 1)">さらに読み込む<i class="fas fa-sync-alt"></i></p>
      {% endif %}
    </div>

  </main>

  <div id="pageDown" onclick="go_bottom()"><i class="fas fa-arrow-down"></i></div>

  <div id="selectEvents" class="deactivate modal">
    <div class="window">
      <div class="events">
        <p>種目一覧</p>
        <div class="card fr" onclick="change_style(12)">
          <img src="static/img/Fr.svg" alt="自由形">
          <div><p>自由形</p><p>50</p></div>
        </div>
        <div class="card fr" onclick="change_style(13)">
          <img src="static/img/Fr.svg" alt="自由形">
          <div><p>自由形</p><p>100</p></div>
        </div>
        <div class="card fr" onclick="change_style(14)">
          <img src="static/img/Fr.svg" alt="自由形">
          <div><p>自由形</p><p>200</p></div>
        </div>
        <div class="card fr" onclick="change_style(15)">
          <img src="static/img/Fr.svg" alt="自由形">
          <div><p>自由形</p><p>400</p></div>
        </div>
        <div class="card fr" onclick="change_style(16)">
          <img src="static/img/Fr.svg" alt="自由形">
          <div><p>自由形</p><p>800</p></div>
        </div>
        <div class="card fr" onclick="change_style(17)">
          <img src="static/img/Fr.svg" alt="自由形">
          <div><p>自由形</p><p>1500</p></div>
        </div>

        <div class="card ba" onclick="change_style(22)">
          <img src="static/img/Ba.svg" alt="背泳ぎ">
          <div><p>背泳ぎ</p><p>50</p></div>
        </div>
        <div class="card ba" onclick="change_style(23)">
          <img src="static/img/Ba.svg" alt="背泳ぎ">
          <div><p>背泳ぎ</p><p>100</p></div>
        </div>
        <div class="card ba" onclick="change_style(24)">
          <img src="static/img/Ba.svg" alt="背泳ぎ">
          <div><p>背泳ぎ</p><p>200</p></div>
        </div>

        <div class="card br" onclick="change_style(32)">
          <img src="static/img/Br.svg" alt="平泳ぎ">
          <div><p>平泳ぎ</p><p>50</p></div>
        </div>
        <div class="card br" onclick="change_style(33)">
          <img src="static/img/Br.svg" alt="平泳ぎ">
          <div><p>平泳ぎ</p><p>100</p></div>
        </div>
        <div class="card br" onclick="change_style(34)">
          <img src="static/img/Br.svg" alt="平泳ぎ">
          <div><p>平泳ぎ</p><p>200</p></div>
        </div>

        <div class="card fly" onclick="change_style(42)">
          <img src="static/img/Fly.svg" alt="バタフライ">
          <div><p>バタフライ</p><p>50</p></div>
        </div>
        <div class="card fly" onclick="change_style(43)">
          <img src="static/img/Fly.svg" alt="バタフライ">
          <div><p>バタフライ</p><p>100</p></div>
        </div>
        <div class="card fly" onclick="change_style(44)">
          <img src="static/img/Fly.svg" alt="バタフライ">
          <div><p>バタフライ</p><p>200</p></div>
        </div>

        <div class="card im" onclick="change_style(53)">
          <img src="static/img/IM.svg" alt="個人メドレー">
          <div><p>個人メドレー</p><p>100</p></div>
        </div>
        <div class="card im" onclick="change_style(54)">
          <img src="static/img/IM.svg" alt="個人メドレー">
          <div><p>個人メドレー</p><p>200</p></div>
        </div>
        <div class="card im" onclick="change_style(55)">
          <img src="static/img/IM.svg" alt="個人メドレー">
          <div><p>個人メドレー</p><p>400</p></div>
        </div>
      </div>
    </div>

    <p class="close" onclick="deactivate_all()">
      <i class="fas fa-window-close"></i> 閉じる
    </p>
  </div>

  {% include "partial/footer.html" %}
  {% include "partial/ajax.html" %}

  <script>
    var current_year = {{year}};
    var current_sex = {{sex}};
    var current_pool = {{pool}};
    var current_style = {{style}};
    var current_event = `${current_sex}${current_style}`;

    function change_style(style_num) {
      jump_page(`${current_sex}${style_num}`, current_year, current_pool);
    }

    function jump_page(event_num, year_num, pool_num, whole_data) {
      var elm_show = document.getElementById('showGrade');
      if(whole_data) {
        var url = `?event=${event_num}&year=${year_num}&pool=${pool_num}&all=1`;
      } else {
        var url = `?event=${event_num}&year=${year_num}&pool=${pool_num}`;
      };
      if(elm_show.checked) {
        document.grades.action = url;
        document.grades.submit();
      } else {
        location.href = url;
      };
    }
  </script>
  <script>
    function go_bottom(){
      var doc = document.documentElement;
      var bottom = doc.scrollHeight - doc.clientHeight;
      window.scroll(0, bottom);
    };
  </script>
</body>

</html>
