<!DOCTYPE html>
<html lang="ja">

<head>
  <title>Swimmers-Zero</title>
  <meta charset="utf-8">
  <meta name="description" content="水泳選手の記録の分析を数百万の大会結果から出力します。">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#ffffff">
  <link rel="icon" type="image/png" href="static/img/icon-192x192.png">
  <link rel="apple-touch-icon" type="image/png" href="static/img/apple-touch-icon-180x180.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="static/css/common.css">
  <link rel="stylesheet" href="static/css/ranking_5.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149393969-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-149393969-2');
  </script>
</head>

<body>
  <nav>
    <a href="/"><img src="static/img/logo.svg" alt="Zero" id="logo"></a>
    <form id="search-container" method="post" action="/dashboard">
      <input name="name" type="text" placeholder="選手を検索">
      <input type="submit" value=""><span></span>
    </form>
  </nav>

  <main>

    <label for="toggle">
      <div id="header" class="{{str_sex}}" ontouchstart="">
        {{jpn_event}}<span>/ {{jpn_group}}</span>
      </div>
    </label>

    <input type="checkbox" id="toggle">
    <div id="options">

      <div id="tab">
        <div class="men{{group_bools[0]}}">
          <a href="?pool=0&sex=1&{{current_event}}">男子<br>短水路</a>
        </div>
        <div class="men{{group_bools[1]}}">
          <a href="?pool=1&sex=1&{{current_event}}">男子<br>長水路</a>
        </div>
        <div class="women{{group_bools[2]}}">
          <a href="?pool=0&sex=2&{{current_event}}">女子<br>短水路</a>
        </div>
        <div class="women{{group_bools[3]}}">
          <a href="?pool=1&sex=2&{{current_event}}">女子<br>長水路</a>
        </div>
      </div>

      <div id="style-buttons">
        <div id="fr" class="row">
          <span>自由形</span>
          <div class="column">
            <a href="?{{group}}&style=Fr&distance=50">50</a>
            <a href="?{{group}}&style=Fr&distance=400">400</a>
          </div>
          <div class="column">
            <a href="?{{group}}&style=Fr&distance=100">100</a>
            <a href="?{{group}}&style=Fr&distance=800">800</a>
          </div>
          <div class="column">
            <a href="?{{group}}&style=Fr&distance=200">200</a>
            <a href="?{{group}}&style=Fr&distance=1500">1500</a>
          </div>
        </div>
        <div id="ba" class="row">
          <span>背泳ぎ</span>
          <a href="?{{group}}&style=Ba&distance=50">50</a>
          <a href="?{{group}}&style=Ba&distance=100">100</a>
          <a href="?{{group}}&style=Ba&distance=200">200</a>
        </div>
        <div id="br" class="row">
          <span>平泳ぎ</span>
          <a href="?{{group}}&style=Br&distance=50">50</a>
          <a href="?{{group}}&style=Br&distance=100">100</a>
          <a href="?{{group}}&style=Br&distance=200">200</a>
        </div>
        <div id="fly" class="row">
          <span>バタフライ</span>
          <a href="?{{group}}&style=Fly&distance=50">50</a>
          <a href="?{{group}}&style=Fly&distance=100">100</a>
          <a href="?{{group}}&style=Fly&distance=200">200</a>
        </div>
        <div id="im" class="row">
          <span>個人メドレー</span>
          <a href="?{{group}}&style=IM&distance=100">100</a>
          <a href="?{{group}}&style=IM&distance=200">200</a>
          <a href="?{{group}}&style=IM&distance=400">400</a>
        </div>
      </div>

      <div id="filter">
        <p>Filter</p>
        <form method="post" action="?{{group}}&{{current_event}}" name="gradeFilter">
          <input type="checkbox" name="grade" value="小学1" id="elm1" {% if '小学1' in grades %}checked{% endif %}>
          <label for="elm1">小学1</label>
          <input type="checkbox" name="grade" value="小学2" id="elm2" {% if '小学2' in grades %}checked{% endif %}>
          <label for="elm2">小学2</label>
          <input type="checkbox" name="grade" value="小学3" id="elm3" {% if '小学3' in grades %}checked{% endif %}>
          <label for="elm3">小学3</label>
          <input type="checkbox" name="grade" value="小学4" id="elm4" {% if '小学4' in grades %}checked{% endif %}>
          <label for="elm4">小学4</label>
          <input type="checkbox" name="grade" value="小学5" id="elm5" {% if '小学5' in grades %}checked{% endif %}>
          <label for="elm5">小学5</label>
          <input type="checkbox" name="grade" value="小学6" id="elm6" {% if '小学6' in grades %}checked{% endif %}>
          <label for="elm6">小学6</label>
          <input type="checkbox" name="grade" value="中学1" id="jrh1" {% if '中学1' in grades %}checked{% endif %}>
          <label for="jrh1">中学1</label>
          <input type="checkbox" name="grade" value="中学2" id="jrh2" {% if '中学2' in grades %}checked{% endif %}>
          <label for="jrh2">中学2</label>
          <input type="checkbox" name="grade" value="中学3" id="jrh3" {% if '中学3' in grades %}checked{% endif %}>
          <label for="jrh3">中学3</label>
          <input type="checkbox" name="grade" value="高校1" id="snh1" {% if '高校1' in grades %}checked{% endif %}>
          <label for="snh1">高校1</label>
          <input type="checkbox" name="grade" value="高校2" id="snh2" {% if '高校2' in grades %}checked{% endif %}>
          <label for="snh2">高校2</label>
          <input type="checkbox" name="grade" value="高校3" id="snh3" {% if '高校3' in grades %}checked{% endif %}>
          <label for="snh3">高校3</label>
          <input type="checkbox" name="grade" value="大学1" id="unv1" {% if '大学1' in grades %}checked{% endif %}>
          <label for="unv1">大学1</label>
          <input type="checkbox" name="grade" value="大学2" id="unv2" {% if '大学2' in grades %}checked{% endif %}>
          <label for="unv2">大学2</label>
          <input type="checkbox" name="grade" value="大学3" id="unv3" {% if '大学3' in grades %}checked{% endif %}>
          <label for="unv3">大学3</label>
          <input type="checkbox" name="grade" value="大学4" id="unv4" {% if '大学4' in grades %}checked{% endif %}>
          <label for="unv4">大学4</label>
          <input type="checkbox" name="grade" value="大学5" id="unv5" {% if '大学5' in grades %}checked{% endif %}>
          <label for="unv5">大学5</label>
          <input type="checkbox" name="grade" value="大学6" id="unv6" {% if '大学6' in grades %}checked{% endif %}>
          <label for="unv6">大学6</label>
          <input type="checkbox" name="grade" value="一般" id="gen" {% if '一般' in grades %}checked{% endif %}>
          <label for="gen">一般</label>
          <input type="submit" value="絞り込む">
        </form>
      </div>

    </div>

    <table class="{{str_sex}}"><tbody>
      {% for rank, id, name, time, grade, team in ranking %}
      <tr>
        <td><span>{{rank}}</span></td>
        <td><a href="/dashboard?id={{id}}">{{name}}</a></td>
        <td>{{time}}</td>
        <td><span>{{grade}}</span></td>
        <td>{{team}}</td>
      </tr>
      {% endfor %}
      </tbody></table>

      <div class="page_btns {{str_sex}}">
        {% for i in range(1, max_page+1) %}
        <span onclick="jump_page({{i}})">{{i}}</span>
        {% endfor %}
      </div>

    </main>

  <div id="page_down" onclick="go_bottom()">
    <div></div>
  </div>

  <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0
      58-18 88-18s
      58 18 88 18
      58-18 88-18
      58 18 88 18
      v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
      <use xlink:href="#gentle-wave" x="50" y="3" fill="#3461c1" />
      <use xlink:href="#gentle-wave" x="50" y="6" fill="#2d55aa" />
    </g>
  </svg>
  <div id="footer">
    <p>Created by Reo Kanzaki</p>
  </div>

  <!-- ajaxやるまで使っちゃや―よ -->
  <!-- <script src="static/js/jquery-3.4.1.min.js"></script> -->
  <script>
    function go_bottom(){
      var doc = document.documentElement;
      var bottom = doc.scrollHeight - doc.clientHeight;
      window.scroll(0, bottom);
    };
  </script>
  <script>
    var pg = document.getElementsByClassName('page_btns');
    for(var i=0; i<2; i++){
      for(var j=0; j<{{max_page}}; j++){
        var e = pg[i].children[j];
        if(e.textContent == '{{current_page}}'){
          e.classList.add('current');
        };
      };
    };
  </script>
  <script>
  {% autoescape false %}
    function jump_page(page) {
      var flag = false;
      var url = "?{{group}}&{{current_event}}&page=" + page;
      for (var i = 0; i < 19; i++){
        if(document.gradeFilter.grade[i].checked) {
          flag = true;
          break;
        };
      };
      if(flag) {
        document.gradeFilter.action = url;
        document.gradeFilter.submit();
      } else {
        location.href = url;
      };
    };
  {% endautoescape %}
  </script>
</body>

</html>
