<!DOCTYPE html>
<html lang="ja">

<head>
  <title>Swimmers-Zero</title>
  <meta charset="utf-8">
  <meta name="description" content="水泳選手の記録の分析を数百万の大会結果から出力します。">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#ffffff">
  <link rel="icon" type="image/png" href="static/img/icon-192x192.png">
  <link rel="apple-touch-icon" type="image/png" href="static/img/apple-touch-icon-180x180.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="static/css/common.css">
  <link rel="stylesheet" href="static/css/ranking.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149393969-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-149393969-2');
  </script>
</head>

<body>
  <nav>
    <a href="/"><img src="static/img/logo.svg" alt="Zero" id="logo"></a>
    <form id="search-container" method="post" action="/dashboard">
      <input name="name" type="text" placeholder="選手を検索">
      <input type="submit" value=""><span></span>
    </form>
  </nav>

  <label for="toggle">
    <div id="header" class="{{str_sex}}">
      {{jpn_event}}<span>/ {{jpn_group}}</span>
    </div>
  </label>

  <input type="checkbox" id="toggle" checked="checked">
  <div id="options">

    <div id="tab">
      <div class="men{{group_bools[0]}}">
        <a href="?pool=0&sex=1&{{current_event}}">男子<br>短水路</a>
      </div>
      <div class="men{{group_bools[1]}}">
        <a href="?pool=1&sex=1&{{current_event}}">男子<br>長水路</a>
      </div>
      <div class="women{{group_bools[2]}}">
        <a href="?pool=0&sex=2&{{current_event}}">女子<br>短水路</a>
      </div>
      <div class="women{{group_bools[3]}}">
        <a href="?pool=1&sex=2&{{current_event}}">女子<br>長水路</a>
      </div>
    </div>

    <div id="style-buttons">
      <div id="fr" class="row">
        <span>自由形</span>
        <div class="column">
          <a href="?{{group}}&style=Fr&distance=50">50</a>
          <a href="?{{group}}&style=Fr&distance=400">400</a>
        </div>
        <div class="column">
          <a href="?{{group}}&style=Fr&distance=100">100</a>
          <a href="?{{group}}&style=Fr&distance=800">800</a>
        </div>
        <div class="column">
          <a href="?{{group}}&style=Fr&distance=200">200</a>
          <a href="?{{group}}&style=Fr&distance=1500">1500</a>
        </div>
      </div>
      <div id="ba" class="row">
        <span>背泳ぎ</span>
        <a href="?{{group}}&style=Ba&distance=50">50</a>
        <a href="?{{group}}&style=Ba&distance=100">100</a>
        <a href="?{{group}}&style=Ba&distance=200">200</a>
      </div>
      <div id="br" class="row">
        <span>平泳ぎ</span>
        <a href="?{{group}}&style=Br&distance=50">50</a>
        <a href="?{{group}}&style=Br&distance=100">100</a>
        <a href="?{{group}}&style=Br&distance=200">200</a>
      </div>
      <div id="fly" class="row">
        <span>バタフライ</span>
        <a href="?{{group}}&style=Fly&distance=50">50</a>
        <a href="?{{group}}&style=Fly&distance=100">100</a>
        <a href="?{{group}}&style=Fly&distance=200">200</a>
      </div>
      <div id="im" class="row">
        <span>個人メドレー</span>
        <a href="?{{group}}&style=IM&distance=100">100</a>
        <a href="?{{group}}&style=IM&distance=200">200</a>
        <a href="?{{group}}&style=IM&distance=400">400</a>
      </div>
    </div>

    <div id="filter">
      <p>Filter</p>
      <div>
        <a href="#">大学生のみ</a>
      </div>
      <input type="checkbox" name="grade" value="小学1" id="elm1">
      <label for="elm1" class="label">小学1</label>
    </div>

  </div>



  <table class="{{str_sex}}"><tbody>
    {% for rank, id, name, time, grade, team in ranking %}
    <tr>
      <td><span>{{rank}}</span></td>
      <td><a href="/dashboard?id={{id}}">{{name}}</a></td>
      <td>{{time}}</td>
      <td><span>{{grade}}</span></td>
      <td>{{team}}</td>
    </tr>
    {% endfor %}
    </tbody></table>

    <div id="pagination">
      <a href="?{{group}}&{{current_event}}&page={{pages[0]}}" class="{{pages[0]}}">前の500件</a>
      <a href="?{{group}}&{{current_event}}&page={{pages[1]}}" class="{{pages[1]}}">次の500件</a>
    </div>

  <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0
      58-18 88-18s
      58 18 88 18
      58-18 88-18
      58 18 88 18
      v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
      <use xlink:href="#gentle-wave" x="50" y="3" fill="#3461c1" />
      <use xlink:href="#gentle-wave" x="50" y="6" fill="#2d55aa" />
    </g>
  </svg>
  <div id="footer">
    <p>Created by Reo Kanzaki</p>
  </div>

</body>

</html>
