<!DOCTYPE html>
<html>
<head>
  {% include "partial/head.html" %}
  <title>検索結果【スイマー検索】 | Swimmers Zero</title>
  <link rel="stylesheet" href="static/css/search.css">
</head>
<body>
  {% include "partial/header.html" %}
  <main>

    <div id="header">
      <p>{{message}}</p>
      <form class="card" method="post" action="/search" name="query">
        <input name="name" type="text" placeholder="{{placeholder}}">
        <input type="checkbox" name="exact" value="true" id="exact">
        <label for="exact">完全一致</label>
      </form>
      <div>
        <div onclick="postForm(false)">選手名検索</div>
        <div onclick="postForm(true)">団体名検索</div>
      </div>
    </div>


    <div id="results">
      {% for c in candidates %}
      <div class="card {{c.sex}}" data-aos="fade-right">
        <img src="static/img/{{c.sex}}.svg" alt="{{c.sex}}">
        <a href="/dashboard?id={{c.id}}">{{c.name}}</a>
        <div>
          <span>{{c.grade}}</span>
          {% for t in c.teams %}
          <span onclick="search_team('{{t}}')">{{t}}</span>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

    {% if show_sorry %}
    <div id="sorry">
      <p>条件に一致する選手は<br>見つかりませんでした</p>
      <img src="static/img/not_found.svg" alt="notFound">
    </div>
    {% endif %}

  </main>

  {% include "partial/footer.html" %}

  <script>
    function postForm(isTeam) {
      if(isTeam){
        document.query.name.name = "team";
      };
      document.query.submit();
    };
  </script>
  <script>
    function search_team(team) {
      var url = "/search?team=" + team;
      location.href = url;
    };
  </script>

</body>

</html>
