<!DOCTYPE html>
<html>
<head>
  {% include "partial/head.html" %}
  <title>スイマーズ ゼロ</title>
  <link rel="stylesheet" href="static/css/thank.css">
</head>
<body>

  {% include "partial/header.html" %}

  <main>

    <div id="party">
      <p data-aos="fade-in">Thank You!!</p>
    </div>

    <div id="message">
      <p>
        メッセージありがとうございます！
        あなたのメッセージは開発者に確かに送られました。
      </p>
      <p>皆様のご質問はトップページ、またはTwitterにてお返し致します。</p>
      <p>皆様の激励のお言葉がスイマーズゼロを支えております。</p>
      <p>皆様のご意見がスイマーズゼロを更に良くします。</p>
      <p>今後とも末永くご愛願賜りますよう、よろしくお願い申し上げます。</p>
    </div>

    <a id="gotop" href="/" ontouchstart>
      トップページに戻る
    </a>

  </main>

  {% include "partial/footer.html" %}

</body>

</html>
