<footer>
  <div class="content">
    <form action="msg" method="post">
      <h3>お問い合わせ (不具合報告・要望・質問など)</h3>
      <textarea name="msg" rows="5" minlength="5" maxlength="300"></textarea>
      <input type="submit" value="送信">
    </form>

    <a href="https://twitter.com/swim_zero" class="twitter" ontouchstart>
      <p><i class="fab fa-twitter"></i>Follow Me!</p>
      <p>新機能について発信中</p>
    </a>
    <a href="https://kcabo.github.io/" class="me">
      開発者のページ<i class="fas fa-share-square"></i>
    </a>

    <div class="links">
      <a href="/">トップページ</a>
      <a href="ranking?pool=1&event=112&year=19">男子ランキング</a>
      <a href="ranking?pool=1&event=212&year=19">女子ランキング</a>
      <a href="credits">使用素材</a>
      <a href="develop">開発状況</a>
    </div>
  </div>
  <div class="tail">
    SWIMMERS ZERO
  </div>
</footer>

<div id="overlay" class=""></div>

<script>
  var deactivate_elms = document.getElementsByClassName('deactivate');
  var overlay = document.getElementById('overlay');
  var main_header = document.getElementsByTagName('header')[0];

  function activate(target) {
    target.classList.toggle("active");
  };

  function deactivate_all() {
    for (var i = 0; i < deactivate_elms.length; i++) {
      deactivate_elms[i].classList.remove("active");
    };
    overlay.classList.remove("active");
  }
  overlay.addEventListener('click', deactivate_all, false)

  function activate_search(){
    activate(main_header);
    activate(overlay);
    document.getElementById('searchbox').focus();
  }

</script>
