<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="email=no,telephone=no,address=no" />
<link rel="icon" type="image/png" href="static/img/icon-192x192.png">
<link rel="apple-touch-icon" type="image/png" href="static/img/apple-touch-icon-180x180.png">
<meta name="description" content="あなたの泳力はどれくらい？数百万のレースデータを分析しビジュアル化。水泳連盟公式よりも早くランキングを作成。日本全国の水泳大会を毎日解析しています。どなたでも無料で最新のランキングや選手個人の分析結果をご覧いただけます。">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="スイマーズゼロ">
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<script src="https://kit.fontawesome.com/fd65322e4b.js" crossorigin="anonymous"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149393969-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-149393969-2');
</script>
<link rel="stylesheet" href="static/css/aos.css">
<link rel="stylesheet" href="static/css/common.css">
