<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="email=no,telephone=no,address=no">
<link rel="icon" type="image/png" href="static/img/icon-192x192.png">
<link rel="apple-touch-icon" type="image/png" href="static/img/apple-touch-icon-180x180.png">
<meta name="description" content="新しい水泳データ分析サービスが誕生。数百万のレースデータをビジュアル化。常に最新のランキングや選手の分析結果をご覧いただけます。">
<!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
<!-- <meta name="apple-mobile-web-app-status-bar-style" content="default"> -->
<meta name="apple-mobile-web-app-title" content="スイマーズゼロ">

<meta property="og:title" content="スイマーズゼロ【水泳データの新サービス】">
<meta property="og:type" content="website">
<meta property="og:url" content="https://swim-zero.com/">
<meta property="og:image" content="https://kcabo.github.io/img/og_op.jpg">
<meta property="og:site_name" content="スイマーズゼロ">
<meta property="og:description" content="新しい水泳データ分析サービスが誕生。数百万のレースデータをビジュアル化。">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@swim_zero">

<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<script src="https://kit.fontawesome.com/fd65322e4b.js" crossorigin="anonymous"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149393969-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-149393969-2');
</script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="static/css/common_v1.css">
